.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1rem;
  & > li::before {
    content: "-";
    display: inline-block;
    margin-left: -1rem;
    width: 1rem;
  }
}

.dashInner {
  list-style: none;
  margin-left: 0;
  padding-left: 1rem;

  & > li > div::before {
    content: "-";
    display: inline-block;
    margin-left: -1rem;
    width: 1rem;
  }
}

.smaller {
  font-size: 1rem;
  color: lighten(black, 25%);
}

div .spacing {
  height: 0.25rem;
}
